.ONE {
  color: green;
}

.TWO {
  color: chocolate;
  padding-left: 5%;
}

.THREE {
  color: aqua;
  padding-left: 10%;
}

body.background {
  background-color: #000;
}

body {
  margin: 0 0 0;
}

.image-container {
  width: 100%;
}

img {
  width: 100%;
}

.content-a {
  padding: 0 0 40px;
}